@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RobotoThin';
	src: local('RobotoThin'), local('RobotoSlab-Thin'), url('../fonts/RobotoRegular/Robotothin.woff2') format('woff2'), url('../fonts/RobotoRegular/Robotothin.woff') format('woff'), url('../fonts/RobotoRegular/Robotothin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoLight';
	src: local('RobotoLight'), local('RobotoSlab-Thin'), url('../fonts/RobotoRegular/Robotolight.woff2') format('woff2'), url('../fonts/RobotoRegular/Robotolight.woff') format('woff'), url('../fonts/RobotoRegular/Robotolight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab Thin';
	src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url('../fonts/robotoSlab/robotoslabthin.woff2') format('woff2'), url('../fonts/robotoSlab/robotoslabthin.woff') format('woff'), url('../fonts/robotoSlab/robotoslabthin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Slab Light';
	src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('../fonts/robotoSlab/robotoslablight.woff2') format('woff2'), url('../fonts/robotoSlab/robotoslablight.woff') format('woff'), url('../fonts/robotoSlab/robotoslablight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Slab Regular';
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('../fonts/robotoSlab/robotoslabregular.woff2') format('woff2'), url('../fonts/robotoSlab/robotoslabregular.woff') format('woff'), url('../fonts/robotoSlab/robotoslabregular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Slab Bold';
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('../fonts/robotoSlab/robotoslabbold.woff2') format('woff2'), url('../fonts/robotoSlab/robotoslabbold.woff') format('woff'), url('../fonts/robotoSlab/robotoslabbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
